.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: whitesmoke;
}
.nav-logo{
    width: 150px;
    height: 100px;
}
.navbar-p{
    font-size: 30px;
    font-weight: 500;
    font-style: "poppins";
}
.nav-profile{
    width: 75px;
}
@media (max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 100px;
        height: 80px;
    }
    .nav-profile{
        width: 60px;
    }
}
